body
{
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

/* コンテンツアイテム start. */
.content
{
    display: inline-grid;
    margin: 0 5px 5px 0;
    border: 2px solid rgba(250, 0, 0, 0.8);
    width: 420px;
    height: 220px;
}

    /* グループ start. */
    .group_title
    {
        margin: 0 0 2px 0;
        background-color: rgba(255, 255, 255, 0.6);
        border-left: solid 10px rgba(250, 0, 0, 0.9);
        border-bottom: solid 2px rgba(250, 0, 0, 0.9);
        font-size: 16pt;
        cursor: pointer;
    }
    .group_accordion_icon
    {
        margin: 0 2px 0 2px;
        width: 20px;
        height: 20px;
        text-align: center;
        vertical-align: middle;
    }
    .group_contents[class*="open"]
    {
        display: block;
    }
    .group_contents[class*="close"]
    {
        display: none;
    }
    /* グループ end. */
    /* タイトル start. */
    .title
    {
        position: relative;
        top:0;
        left:0;
        height: 30px;
        background-color: rgba(250, 0, 0, 0.6);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .title a
    {
        color: rgba(80,80,80,1);
        text-decoration: none;
        font-size: 15pt;
    }
    .title a::before
    {
        content: "";
        display: inline-block;
        margin: 4px 0 0 4px;
        width: 17px;
        height: 18px;
        background: url("http://nicovideo.cdn.nimg.jp/uni/js/nicoheader/resources/icon_niconico.png") no-repeat 0 0;
    }
    /* タイトル end. */

    /* サムネイル start. */
    .thumb {
        position: relative;
    }
    .thumb[class*="normal"]
    {
        display: inline-block;
        vertical-align: top;
        cursor: auto;
    }
    .thumb[class*="over"]
    {
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
    }

    .thumb .dl_overlay {
        position:absolute;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.4);
        text-align:center;
        visibility:hidden;
        color:rgba(255,255,255,0.4);
    }
    .thumb[class*="normal"] .dl_overlay {
        visibility: hidden;
    }
    .thumb[class*="over"] .dl_overlay {
        visibility: visible;
    }
    .thumb .dl_overlay:before {
        content:"";
        display:inline-block;
        width:0px;
        height:100%;
        vertical-align:middle;
    }

    .play_btn {
        padding-top: 12px;
        border: none;
        width: 52px;
        height: 52px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNzMgNzYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMjMuNjV2MzcuODlhNi4zNiA2LjM2IDAgMCAwIDYuMzkgNi4zMmg3LjUzbDQuMTIgNi42MWExLjUxIDEuNTEgMCAwIDAgMS4zNC43MiAxLjUzIDEuNTMgMCAwIDAgMS4zMS0uNzJsNC4xMi02LjYxaDIyLjExbDQuMTIgNi42MWExLjUxIDEuNTEgMCAwIDAgMS4zNC43MiAxLjUzIDEuNTMgMCAwIDAgMS4zMS0uNzJsNC4xMy02LjYxaDguMzZhNi4zNSA2LjM1IDAgMCAwIDYuMzktNi4zMlYyMy42NWE2LjM1IDYuMzUgMCAwIDAtNi4zOS02LjMySDQxLjk5TDU2LjA1IDMuNDQgNTIuNTYtLjAzIDM2LjIzIDE2LjExIDE5LjkyLjA2bC0zLjUgMy40NSAxNCAxMy44MmgtMjRBNi4zNiA2LjM2IDAgMCAwIDAgMjMuNjV6IiBzdHlsZT0iZmlsbDpyZ2JhKDAsMCwwLC44KTtzdHJva2U6cmdiYSg2Niw2Niw2NiwuOCk7Ii8+PC9zdmc+) no-repeat center;
        transition: all .1s ease;
        -webkit-transition: all .1s ease;
        cursor: pointer;
        outline: none;
    }
    .play_icon {
        fill: rgba(255,255,255,.8);
        width: 14px;
    }

    .thumb_image
    {
        width: 130px;
        height: 100px;
        vertical-align: bottom;
    }
    /* サムネイル end. */

    /* 説明領域 start. */
    .desc_area
    {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 130px);/* 画像の幅分引く */
        height: 100px;
        white-space: normal;
        overflow: hidden;
    }
        /* 説明 start. */
        .desc
        {
            font-size: 9pt;
        }
        /* 説明 end. */
    /* 説明領域 end. */

    /* タグ領域 start. */
    .tags_area
    {
        height: 90px;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
        /* タグ start. */
        .tags
        {
            margin: 0;
            padding: 0;
            font-size: 0;
        }
        .tag
        {
            display:inline-block;
            list-style: none;
            font-size: 9pt;
            font-weight:bold;
            border:1px solid rgba(34,80,158,1.0);
            border-radius:15px;
            padding:0 2px;
            margin:2px 2px;
        }
        .tag.normal
        {
            background: rgba(255,255,255,1.0);
            color: rgba(34,80,158,1.0);
        }
        .tag.over
        {
            background: rgba(34,80,158,1.0);
            color: rgba(255,255,255,1.0);
        }
        .tag.normal a
        {
            color: rgba(34,80,158,1.0);
            text-decoration: none;
        }
        .tag.over a
        {
            color: rgba(255,255,255,1.0);
            text-decoration: none;
        }
        .tag a::before
        {
            content: "○";
        }
        /* タグ end. */
    /* タグ領域 end. */
/* コンテンツアイテム end. */

/* プレビューレイヤー start. */
#movie_preview_layer {
    position:fixed;
    top:0;
    left:0;
    z-index:10000;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.45);
    text-align: center;
}
#movie_preview_layer span {
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
    background-color: rgba(250, 0, 0, 0.8);
}
#nicovideo_player {
    width: 720px;
    height: 405px;
    vertical-align: middle;
}
#movie_preview_layer #layer_colse_btn {
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 12px;
    width: 45px;
    height: 45px;
    background: rgba(255,255,255,.6);
    border: none;
    border-radius: 23px;
    cursor: pointer;
    outline: none;
}
#movie_preview_layer #layer_colse_btn[class*="normal"] {
    background: rgba(255,255,255,.6);
}
#movie_preview_layer #layer_colse_btn[class*="over"] {
    background: rgba(255,255,255,.9);
}
#movie_preview_layer .close_icon {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 12px;
    fill: rgba(0, 0, 0, 1.0);;
    fill-rule: evenodd;
    vertical-align: middle;
}
/* プレビューレイヤー end. */
